<div class="row">
    <div class="col-lg-6" style="cursor:pointer;" [routerLink]="['/ticket/crear']">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <i class="fa fa-ticket fa-4x" aria-hidden="true"></i>
                <h1 class="m-xs">Incidencia</h1>
                <h3 class="font-extra-bold no-margins text-success">
                </h3>
                <small>Reportar error en alguno de nuestros productos</small>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="cursor:pointer;" [routerLink]="['/ticket/crear']">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <i class="fa fa-ticket fa-4x" aria-hidden="true"></i>
                <h1 class="m-xs">Solicitud de Servicio</h1>
                <h3 class="font-extra-bold no-margins text-success">
                </h3>
                <small>Levantamiento de requerimiento o proyecto</small>
            </div>
        </div>
    </div>
</div>