<div class="row">
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let srv of servidores">
        <div class="hpanel">
            <div class="panel-body text-center h-200">
                <i class="fa fa-database" aria-hidden="true" style="font-size: 50px;"></i>

                <h1 class="m-xs" style="padding-top: 20px; font-size: 15px;">{{srv.servidor}}</h1>

                <h3 class="font-extra-bold no-margins text-success" style="padding-top: 20px;">
                    <a class="text-success"></a>
                </h3>
                <div class="row">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 50%">
                                    <a (click)="configurar(srv)">
                                        <h5>CONFIGURAR</h5>
                                    </a>
                                </td>
                                <td style="width: 50%">
                                    <a [routerLink]="[ 'log/', srv.servidorId ]">
                                        <h5>LOG</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<td style="width: 30%">
    <a (click)="procesar()">
        <h5 style="color:#f1f3f6;">PROCESAR</h5>
    </a>
</td>