<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                Estadísticas de Servicio
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 text-center" style="padding-top: 93px;">
                        <div class="small">
                            <i class="fa fa-bolt"></i> ALERTAS
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                100
                            </h1>
                            <small></small>
                        </div>
                        <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Enero
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="text-center small">
                            <i class="fa fa-laptop"></i> Acumulado de Incidencias Mensual
                        </div>
                        <app-grafico-mensual></app-grafico-mensual>
                    </div>
                    <div class="col-md-2 text-center" style="padding-top: 93px;">
                        <div class="small">
                            <i class="fa fa-clock-o"></i> ADVERTENCIAS
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                150
                            </h1>
                            <small></small>
                        </div>
                        <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Enero
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">
                  You have two new messages from <a href=""></a>
            </span> Last update: 21.05.2015
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="hpanel plan-box hgreen active">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">
                    AREAS
                </h4>
            </div>
            <div class="panel-body">
                <app-grafico-demo2 [(idDiv)]='nombreGrafica' [(datosGrafica)]="datos1"></app-grafico-demo2>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="hpanel plan-box hgreen active">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">
                    RESPONSABLES
                </h4>
            </div>
            <div class="panel-body">
                <app-grafico-demo2 [(idDiv)]='nombreGrafica2' [(datosGrafica)]="datos2"></app-grafico-demo2>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-4">
        <div class="hpanel plan-box hgreen active">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">PROCESO</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Comercial
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Supply
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Costos
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="hpanel plan-box hgreen active">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">JOB</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> JOB 1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> JOB 2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> JOB 3
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="hpanel plan-box hgreen active">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">RESPONSABLE</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Daniel Rodriguez
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Marlene Ortiz
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-check-square-o"></i> Alicia Cartagena
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>